<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Track Delivery Boy</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #mapElement style="height: 100%;"></div>
  <div class="mt-1" style="z-index: 1; position: absolute; bottom: 5; top: 0;">
    <ion-chip class="bg-black text-white"><ion-icon class="text-white" name="alarm"></ion-icon>&nbsp; {{ estimatedTime
      }}</ion-chip>
  </div>

<ion-row>
  <ion-col size="12"  class="p-2" style="z-index: 1; position: absolute; bottom: 0; top: 5;">
  
      <div class="bg-white w-full rounded-lg border border-gray-300">
        <div class="flex justify-between p-2">
          <div>
            <div class="flex justify-start">
              <div><ion-icon class="text-4xl mt-2" name="person-circle"></ion-icon></div>
              <div class="pl-2">
                <p class="text-black text-sm"> {{ firstName }} {{ lastName }}</p>
                <p class="text-gray-500 text-sm">+91 {{ primary_contact }}</p>
              </div>
            </div>
  
          </div>
  
          <div class="flex items-center ">
            <ion-icon class="text-black text-xl" name="call" (click)="openDialer(primary_contact)"></ion-icon>
          </div>
        </div>
      </div>
    
  </ion-col>
</ion-row>
</ion-content>
