<ion-header>
  <ion-toolbar>
    <ion-title color="light">Location</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #mapElement class="map"></div>

 

  <div class="address_main_div">
    <ion-row>
      <ion-col size="12" class="border border-gray-200 rounded-md p-2">
        <ion-label class="font-bold text-sm text-black">Current Location:</ion-label>
        <ion-label>{{ user_address }}</ion-label>
      </ion-col>

      <ion-col size="12" class="border border-gray-200 rounded-md mt-2 p-2">
        <ion-label position="stacked" class="font-bold text-sm text-black">Drop-off Location:</ion-label>
        <ion-input placeholder="enter drop-off" [(ngModel)]="dropOffAddress"></ion-input>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="distanceInKm">
      <ion-col size="12" class="border border-gray-200 rounded-md mt-2 p-2">
        <ion-label class="font-bold text-sm text-black">Distance:</ion-label>
        <ion-label>{{ distanceInKm }} km</ion-label>
      </ion-col>
    </ion-row>



    <div align="center" (click)="toggleSatelliteView()" class="bg-white rounded-md p-1 border border-blue-700"
      style="z-index: 1000; position: absolute; margin-top: -65%;">
      <img src="assets/orbit.png" alt="">
      <p class="text-blue-600 font-bold text-sm">Satellite View </p>
    </div>

    <ion-row>
      <button expand="block" [disabled]="btn_disabled" (click)="showRoute()"
        class="btn-3 w-full p-4 text-white rounded-sm text-sm">
        Show Route
      </button>
    </ion-row>
  </div>
</ion-content>