<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/2.png" alt="">&nbsp;
        <ion-label>Orders</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/t&c.png" alt="">&nbsp;
        <ion-label>Terms and Conditions</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/t&c.png" alt="">&nbsp;
        <ion-label>Privacy policy</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/share.png" alt="">&nbsp;
        <ion-label>Share App</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/rateus.png" alt="">&nbsp;
        <ion-label>Reviews</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>
  
    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/5.png" alt="">&nbsp;
        <ion-label>Change Password</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/12.png" alt="">&nbsp;
        <ion-label>About Us</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    <div>
      <ion-item class="p-2">
        <img width="25" height="25" src="assets/support.png" alt="">&nbsp;
        <ion-label>Contact Us</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>

    <div>
      <ion-item class="p-2" (click)="logout();">
        <img width="25" height="25" src="assets/logout.png" alt="">&nbsp;
        <ion-label>Log Out</ion-label>
        <a routerLink="dashboard"><ion-icon slot="end" name="chevron-forward-outline"></ion-icon></a>
      </ion-item>
    </div>
  
  </ion-content>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 pl-3 pr-3">
      <ion-router-link routerLink="/dashboard">
        <div align="center" class=" text-gray-600">
          <img width="25" height="25" src="assets/2.png" alt="">
          <ion-title class="text-sm">Orders</ion-title>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/profile">
        <div align="center" class="text-red-600">
          <img width="25" height="25" src="assets/accountred.png" alt="">
          <ion-title class="text-sm">Account</ion-title>
        </div>
      </ion-router-link>
    </div>
  </ion-toolbar>


</ion-footer>