<ion-header [translucent]="true">
  <ion-toolbar color="dark" class="border-b-2 border-red-600 text-md font-bold" align="center">RESTAURANT</ion-toolbar>
  <ion-toolbar color="dark">
    <ion-segment color="light" class="pl-1 pr-1" value="order" (ionChange)='segmentChanged($event)'>
      <ion-segment-button (click)="book_order()" value="order">
        <ion-label class="text-white text-xs">New Order</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="processing_order()" value="processing">
        <ion-label class="text-white text-xs">Ongoing </ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="completed_order()" value="completed">
        <ion-label class="text-white text-xs">Complete </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  <!-- ===first div start== -->
  <div class="mt-10" *ngIf="noOrdersFound">
    <img src="assets/nodatafound.gif" alt="">
    <div align="center" class="mt-5">
      <p class="text-black font-bold text-lg mt-10">No Orders Found !</p>
      <p class="text-gray-400 text-sm">here haven't placed any order
        <!-- You haven't placed any order -->
      </p>
    </div>
  </div>
  <!-- ===first div End== -->

  <!-- ===Second div start== -->
  <div *ngIf="!noOrdersFound">
    <div *ngIf="switchTab === 'order'" class="p-1">
      <div class="bdashboard bdashboard-gray-300 rounded-md border border-gray-300 mb-2"
        *ngFor="let order of allbooktables">
        <ng-container *ngIf="order.status === 'In Progress' || order.status === 'Rejected'">
          <ion-grid>
            <ion-row class="border-b border-dashed border-gray-400">
              <ion-col size="12">
                <div class="flex justify-between">
                  <div>
                    <p class="text-sm text-black">{{order.name}}</p>
                    <p class="text-gray-400 text-xs mt-1"><ion-icon name="calendar"></ion-icon> {{order.order_date}}</p>
                  </div>
                  <div>
                    <p class="text-xs text-gray-400"># {{order.order_id2}}</p>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <div class="p-2">
              <p class="text-gray-400 text-xs mt-2"> ITEMS</p>
      
              <div class="border-gray-300 border-dashed border-b" *ngFor="let card of order.cards">
                <div class="flex justify-between">
                  <p class="text-black text-md font-600 mt-2">{{card.index}}. {{card.recipe_name}} - Qty :
                    {{card.quantity}}<br>
                    <span class="text-xs text-gray-400">VARIENT - {{card.varient}} </span>
                  </p>
                  <p class="mt-2">₹ {{card.recipe_price}} /-</p>
                </div>
              </div>

              <div class="flex justify-between pr-2 mt-1" *ngIf="order.coupon_code !== null">
                <p class="text-sm font-semibold text-green-600 mt-1">Customer Applied Coupon {{order.coupon_code}}.
                 </p>
                <p class="font-bold text-green-600 text-md">₹ {{order.discount}}</p>
              </div>

              <div class="flex justify-between pr-2">
                <p class="text-black font-semibold text-md mt-2"> TOTAL AMOUNT</p>
                <p class="text-black font-semibold text-md mt-2">₹ {{order.grand_total}}</p>
              </div>
            </div>

            <ion-row *ngIf="order.status !== 'Rejected'">
              <ion-col size="6">
                <ion-button (click)="accept_table(order['order_id2'])" class="btn_class" color="success" expand="block">
                  Accept
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="cancel_table(order['order_id2'])" class="btn_class" color="dark" expand="block"
                  fill="outline">
                  Reject
                </ion-button>
              </ion-col>

            </ion-row>
            <ion-row  *ngIf="order.status === 'Rejected'">
              <ion-col size="12">
                <ion-button (click)="cancel_table(order['order_id2'])" class="btn_class" color="danger" expand="block"
                 >
                  Rejected
                </ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ng-container>
      </div>
    </div>

    <div *ngIf="switchTab === 'processing'">
      <div class="bdashboard bdashboard-gray-300 rounded-md border border-gray-300 mt-2"
        *ngFor="let order of allprocessing">
        <ion-grid>
          <ion-row class="border-b border-dashed border-gray-400">
            <ion-col size="12">
              <div class="flex justify-between">
                <div>
                  <p class="text-lg text-black">{{order.name}}</p>
                  <p class="text-gray-400 text-xs mt-1"><ion-icon name="calendar"></ion-icon> {{order.order_date}}</p>
                </div>
                <div>
                  <p class="text-xs text-gray-400"># {{order.order_id2}}</p>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <div class="p-2">
            <p class="text-gray-400 text-xs mt-2"> ITEMS</p>

            <div class="border-gray-300 border-dashed border-b" *ngFor="let card of order.cards">
              <div class="flex justify-between">
                <p class="text-black text-md font-600 mt-2">{{card.index}}. {{card.recipe_name}} - Qty :
                  {{card.quantity}}<br>
                  <span class="text-xs text-gray-400">VARIENT - {{card.varient}} </span>
                </p>
                <p class="mt-2">₹ {{card.recipe_price}} /-</p>
              </div>
            </div>

            <div class="flex justify-between pr-2 mt-1" *ngIf="order.coupon_code !== null">
              <p class="text-sm font-semibold text-green-600 mt-1">Customer Applied Coupon {{order.coupon_code}}.
               </p>
              <p class="font-bold text-green-600 text-md">₹ {{order.discount}}</p>
            </div>

            <!-- <p *ngIf="order.coupon_code !== null" class="text-xs bg-green-50 text-green-600 border-green-100 border rounded-sm text-center ">You got a
              "₹{{order.discount}}" discount by using coupon code #{{order.coupon_code}}!</p> -->
    
            <div class="flex justify-between pr-2">
              <p class="text-black font-semibold text-md mt-2"> TOTAL AMOUNT</p>
              <p class="text-black font-semibold text-md mt-2">₹ {{order.grand_total}}</p>
            </div>


            <div class="border-b border-gray-300 border-dashed mt-3"></div>

            <ng-container *ngIf="order.status === 'Searching Delivery Boy'">
              <div [style.backgroundColor]="getBackgroundColor(order.status)" class="rounded-md">
                <div class="flex justify-center p-3">
                  <p class="text-sm text-white flex items-center">{{ order.status }}</p>
                </div>
              </div>
            </ng-container>

            <div *ngIf="order.status !== 'Searching Delivery Boy' && order.status !== 'Order Delivered' " [style.backgroundColor]="getBackgroundColor(order.status)" class="rounded-md" (click)="show_map(order.id)">
              <div class="flex justify-between p-3">
                <p class="text-sm text-white flex items-center">{{ order.status }}</p>
                <p class="border border-white rounded-full text-xs p-1 text-white" (click)="show_map(order.id)">View Map</p>
              </div>
            </div>

            <div *ngIf="order.status === 'Order Delivered'" [style.backgroundColor]="getBackgroundColor(order.status)" class="rounded-md" (click)="show_map(order.id)">
              <div class="flex justify-center p-3">
                <p class="text-sm text-white flex items-center">{{ order.status }}</p>
              </div>
            </div>

            <!-- <div class="flex justify-between p-2">
              <p class="text-black font-bold text-lg mt-2"> Status</p>
              <p class="text-green-500 font-semibold text-md mt-2"> {{order.status}}</p>
            </div> -->

            <!-- <div class="text-center font-bold text-red-600" (click)="show_map()">
              <p>View Map</p>
            </div> -->
          </div>
        </ion-grid>
      </div>
    </div>

    <div *ngIf="switchTab === 'completed'" class="p-1">

    </div>
  </div>
  <!-- ===Second div end== -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="flex justify-between p-2 pl-3 pr-3">
      <ion-router-link routerLink="/dashboard">
        <div align="center" class=" text-red-600">
          <img width="25" height="25" src="assets/22.png" alt="">
          <ion-title class="text-sm">Orders</ion-title>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/profile">
        <div align="center" class="text-gray-400">
          <img width="25" height="25" src="assets/12.png" alt="">
          <ion-title class="text-sm">Account</ion-title>
        </div>
      </ion-router-link>
    </div>
  </ion-toolbar>


</ion-footer>